/* Container que segura todos os cards */
.cards-container {
  display: flex;
  justify-content: center;
  align-items: stretch; /* Garante que todos os cards tenham a mesma altura */
  gap: 30px;
  flex-wrap: wrap; /* Essencial para quebrar linha no celular */
  padding: 50px 20px;
}

/* O "envelope" do card */
.align-Cards {
  flex: 1; /* Permite que o card cresça e diminua */
  min-width: 300px; /* Não deixa o card ficar menor que 300px */
  max-width: 400px; /* Não deixa o card ficar gigante em telas grandes */
  background-color: #ffffff;
  border: 1px solid #0000001a;
  border-radius: 12px;
  box-shadow: 0 10px 20px #2525253f;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
}

/* Efeito ao passar o mouse */
.align-Cards:hover {
  transform: translateY(-10px);
  box-shadow: 0 35px 30px rgba(0, 255, 102, 0.2); /* Sombra na cor da sua marca */
  border-color: #00ff66;
}

/* Conteúdo interno do card */
.card {
  padding: 30px;
  border-top: 8px solid #252525; /* Troquei o cinza pelo seu verde de destaque */
  border-radius: 12px 12px 0 0;
  color: #333;
}

/* Estilização dos títulos nos cards */
.card h2 {
  font-size: 1.3rem;
  font-weight: 800;
  letter-spacing: 2px;
  margin-bottom: 15px;
  color: #747474;
  text-transform: uppercase;
}

/* Texto descritivo dentro do card */
.certificacoes {
  font-size: 0.95rem;
  color: #252525;
  line-height: 1.6;
  display: grid;
}

.h2certificacoes {
  font-size: 3.5rem;
  margin: 0% 5%;
}

/* --- Ajustes para Celular --- */
@media (max-width: 768px) {
  .cards-container {
    padding: 20px 10px;
    gap: 20px; 
  }

  .align-Cards {
    min-width: 100%; /* No celular, o card ocupa a largura toda */
    max-width: 100%;
     padding: 0 12px;
  }

  .card {
    padding: 10%;
  }

  .card h2 {
  
    font-size: 1.6rem;
    letter-spacing: 3px;
  }

  .h2certificacoes {
  font-size: 2.5rem;
  margin: 0% 5%;
}
}

/* --- RESPONSIVIDADE PARA TABLETS (Telas entre 769px e 1024px) --- */
@media (min-width: 769px) and (max-width: 1024px) {
    .cards-container {
        padding: 40px 5%;
        gap: 20px; /* Reduz um pouco o espaço para caber melhor */
    }

    .align-Cards {
        /* Força os cards a ocuparem quase metade da largura para ficarem 2 por linha */
        flex: 0 1 calc(45%); 
        min-width: 620px; 
        max-width: 48%;
    }

    .h2certificacoes {
        font-size: 2.8rem; /* Diminui um pouco o título principal no tablet */
        text-align: center;
        margin-bottom: 20px;
    }
}

