main {
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 10%;
}


.cards {
    display: flex;
    gap: 1%;
}

.card {
    width: 320px;
    height: 350px;
    background: linear-gradient(#08e101, #1183113f);
    border-radius: 30px;
    align-content: center;
}

.cardb {
    width: 320px;
    height: 350px;
    background: linear-gradient(#28a42846, #08e101);
    border-radius: 30px;
    align-content: center;
}

h3 {
    padding: 0px 20%;
    text-align: start;
    font-family: "inter";
    font-size: 35px;
    color: #f0ffff;
}
.sectioncard2 {
    background-image: url(../img/Back3.png);
    background-position: center;
    background-repeat: repeat-x;
    background-position:right 100%;
    height: 800px;
}
.card2 {
    display: flex;
    padding: 35px 5%;
    height: 370px;
    background: linear-gradient(to right,#8b8a8a3c, #0000005a);
    border-radius: 30px;
    align-content: center;
}

.cta-card2 {
    align-content: center;
    width: 300px;
    height: 65px;
    color: #f0ffff;
    border-radius: 95px;
    font-weight: 600;
    font-size: 18px;
    background: linear-gradient(to right,#08e101a4, #08e101);
}
.cta {
    font-size: 25px;
}

@media (max-width:500px) {
    .cards {
        justify-content: center;
        display: grid;
        gap: 1%;
    }

    h1 {
        padding: 0px 0%;
    }

    .p1 {
        padding: 10px 10%;
        text-align: center;
    }

    .card {
        width: 350px;
        
        height: 140px;
        background:linear-gradient(to right,#08e1015f, #08e101);
        border-radius: 12px;
    }

    .cardb {
        width: 350px;
        height: 140px;
        background: linear-gradient(to right,#08e101,#08e1015f);
        border-radius: 12px;
    }

    .sectioncard2{
        justify-items: center;
        padding: 0px 0%;
        display: grid;
    }

    .card2 {
        display: grid;
        padding:0px 0%;
        width: 90%;
        height: 500px;
        background: linear-gradient(#21212100, #2f2f2f);
        border-radius: 30px;
    }

.cta-card2 {
    justify-items: center;
}
    h1 {
        font-size: 43px;
        padding: 10px 5%;
    }

    h3 {
        font-size: 25px;
    }

}