
.navbar {
  width: 12px;
  height: 80px;
  background: linear-gradient(90deg, #ffffffac, #fdfdfd);
  display: flex;
  justify-content: end; /* logo à esquerda, menu à direita */
  align-items: center;
  
  width: 78%;
}



.menu {
  display: flex;
  gap: 25px;
}

.menu a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
  position: relative;
  transition: color 0.3s ease;
}


.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: #00ff66;
  transition: width 0.3s ease;
}

.menu a:hover {
  color: #000000;
}

.menu a:hover::after {
  width: 100%;
}

/* Hamburguer */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: #000000;
  margin: 4px 0;
  transition: 0.3s;
}

/* Responsivo */
@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    background: #fffefe;
    position: absolute;
    top: 60px;
    right: 0;
    width: 88%;
    padding: 20px;
  }

  .menu.active {
    display: flex;
    animation: slideDown 0.3s ease forwards;
  }

  .hamburger {
    display: flex;
    padding: 2% 3%;
    margin: -770%;
  }
  .navbar {
  display: flex;
  justify-content: end; /* logo à esquerda, menu à direita */
  align-items: center;
  width: 10%;
  
}

}

@keyframes slideDown {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}
